@model IEnumerable<BTL_NhapMonCNPM.Models.Comment>

<div id="comment-list">
    @foreach (var comment in Model)
    {
        <div class="comment">
            <img src="@comment.User.AvatarUrl" alt="Avatar" class="avatar" />
            <div class="comment-content">
                <strong>@comment.User.UserName</strong>
                <p>@comment.Content</p>
                <small>@comment.CreatedAt.ToLocalTime()</small>
            </div>
        </div>
    }
</div>
